.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:7rem 0 10rem 0;
    background-color: #E0E0E2;
  
    
}
.section-heading{
    font-family: "Muli" serif;
    font-size: 5rem;
    font-weight: 300;
    color:#1F0812;
    margin-bottom: 6rem;
    justify-content: center;
    align-items: center;
}
body {
    font-size: 19px;
    background: #E0E0E2;
}
table{
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
}
tr {
    border-bottom: 1px solid #cbcbcb;
}
th, td{
    border: none;
    height: 30px;
    padding: 2px;
}
tr:hover {
    background: #F5F5F5;
}

form {
    width: 45%;
    margin: 50px auto;
    text-align: left;
    padding: 20px; 
    border: 1px solid #bbbbbb; 
    border-radius: 5px;
}

.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}
.msg {
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}
/*START FOOTER*/

.footer{
    width: 100%;
    height: 15rem;
    background-color:  #1F0812;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.copyright{
    font-family: "Baloo Da 2" serif;
    font-size: 1.6rem;
    color: white;
}
.social-list a{
    margin: 0.2rem;
}
.social-list i{
    font-size: 2rem;
    color: white;
}
.scroll-btn{
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    color: white;
    box-shadow: 0 0.1rem 0.6rem rgba(0,0,0,0.2);
    border-radius: 0.3rem;
}

/*END FOOTER*/